<div class="palm-row">
    <div style="min-height:105px; padding-top:2px; background-image: url('#{thumbnail}'); background-repeat: no-repeat; background-size: #{imageWidth};">
        <div class="title" style="position: absolute;margin-top: -10px; margin-left:#{titleMargin};margin-right:18px;z-index: 2;">
            #{videoName}<br>
            <span class="video-date">#{videoDate}</span>
        </div>
        <div style="position: relative; left: 98%; width: 40px; margin-left: -20px; margin-top: 30px;z-index: 10; height: 40px;">
            <div class="checkmark #{selectedState}"></div>
        </div>
    </div>

</div>