<div class="palm-row">
    <div style="min-height:105px; padding-top:2px; background-image: url('#{thumbnail}'); background-repeat: no-repeat; background-size: #{imageWidth};">
        <div class="title" style="position: absolute;margin-top: #{topMargin}; margin-left:#{titleMargin};margin-right:18px;z-index: 2;">
            #{videoName}
            <p class="video-details #{detailClass}" style="margin-top:-12px;margin-left: -14px;">#{videoDetails}</p>
        </div>
        <div style="position: relative; left: 97%; width: 40px; margin-left: -22px; margin-top: 30px;z-index: 10; height: 40px;">
            <div class="checkmark #{selectedState}"></div>
        </div>
    </div>

</div>