/* TODO: put your application-specific CSS here */

.thumbnail {
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-left: 5%;
}

.checkmark {
    margin-top: 37px;
}

.checkmark.true {
    visibility: visible;
}

.checkmark.false {
    visibility: hidden;
}

.video-title {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.search-input {
    position: relative;
    width: 90%;
    padding-top: 10px;
}

.search-input input {
    height: 31px;
    border: 1px solid darkgray;
    border-radius: 15px;
    display: block;
    width: 100%;
    padding-left: 10px;
    margin-left: 5%;
    box-sizing: border-box
}

.search-input img {
    position: absolute;
    top: 15px;
    right: 0px;
    margin-right: -5%;
}

.explanation-text {
    margin-top: -5px;
    padding: 14px;
    font-size: 14px;
    color: #FFF;
}