<div class="palm-row" x-mojo-tap-highlight='momentary'>
    <div class="palm-row-wrapper">
        <div style="height:105px;padding-top:2px">
            <div style="width:#{imageWidth}; float:left;"><img class="thumbnail" src="#{thumbnail}"></div>
            <div class="checkmark #{selectedState}"></div>
            <div class="video-title" style="text-overflow: ellipsis;word-wrap:break-word;padding-top: #{topMargin};margin-left:#{titleMargin}">#{videoName}</div>
        </div>
    </div>
</div>