<div class="palm-hasheader" style="margin-bottom:60px">
    <div id="watchViewTitle" class="palm-header center">
        MeTube
    </div>
</div>
<div style="width:100%; margin:auto; align-content: center; text-align: center;">
    <img src="icon.png" /><br/>
    <span x-mojo-loc='' class="palm-group-title with-icon">Search YouTube, or enter a YouTube URL...</span>
</div>
<div class="palm-group" style="margin-top: -20px;">
    <div class="palm-list">

        <div class="palm-row first">
            <div class="palm-row-wrapper" style="padding-top: 2px;padding-bottom:12px;">
                <div class="search-input">
                    <input type="text" id="txtYoutubeURL" name="txtYoutubeURL" />
                    <img src="clear.png" width=25 id="imgSearchClear" />
                </div>
            </div>
        </div>

        <div class="palm-row last">
            <div class="palm-row-wrapper" style="margin-left: 20%; margin-right: 20%">
                <div x-mojo-element="Button" id="btnGetVideo" class="buttonClass" name="btnGetVideo"></div>
            </div>
        </div>

    </div>
</div>

<div id="showResultsList" name="showResultsList" style="display:none">
    <div id="searchResultsList" x-mojo-element="List"></div>
</div>

<div id="divSpinnerContainer" style="width: 130px;margin-left: auto;margin-right: auto; align-items: center;">
    <div x-mojo-element="Spinner" id="workingSpinner" class="spinnerClass" name="workingSpinner"></div>
</div>